<aside class="sidebar">
  <h2 class="logo">Admin Panel</h2>

  <ul class="menu">
    <li routerLink="/rooms/admin/list" routerLinkActive="active">Rooms</li>
    <li routerLink="/booking/admin" routerLinkActive="active">Bookings</li>
    <li routerLink="/customers" routerLinkActive="active">Customers</li>
    <li routerLink="/payment/admin" routerLinkActive="active">Payments</li>
    <li routerLink="/employee/admin" routerLinkActive="active">Employees</li>
    <li routerLink="/inventory" routerLinkActive="active">Inventory</li>
    <li routerLink="/housekeeping/admin" routerLinkActive="active">Housekeeping</li>
    <!-- <li routerLink="/admin/hotels" routerLinkActive="active">Hotels</li> -->
    <li routerLink="/payment/admin/invoices" routerLinkActive="active">Invoices</li>

    <li routerLink="/admin/dashboard" routerLinkActive="active">Back to Dashboard</li>
        <li routerLink="" routerLink="active">Back to Home</li>



  </ul>
</aside>