<app-navbar></app-navbar>




<section class="contact-hero">
  <div class="overlay"></div>
  <h2>Contact Us</h2>
</section>

<section class="contact-section">
  <div class="contact-container">
    
    <!-- LEFT SIDE -->
    <div class="contact-left">
      <h3>The Radiant Hotel</h3>
      <p>
        Welcome to the best four-star deluxe hotel in Gorakhpur. Among the facilities at this
        property are room service and a concierge service, along with free WiFi throughout the property.
      </p>

      <div class="info-box">
        <h4>Reservation</h4>
        <p>760 760 3377</p>
      </div>

      <div class="info-box">
        <h4>Email Info</h4>
        <p>resv@theradiant.co.in</p>
      </div>

      <div class="info-box">
        <h4>Address</h4>
        <p>
          Medical College Road, Gorakhpur, Bangri, <br>
          Uttar Pradesh. Pin Code - 273013
        </p>
      </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="contact-right">
      <h3>Any Enquiry?</h3>

      <form>
        <input type="text" placeholder="Your Name *">
        <input type="email" placeholder="Your Email *">
        <input type="text" placeholder="Your Number *">
        <input type="text" placeholder="Subject *">
        <textarea placeholder="Message *"></textarea>

        <button type="submit" class="send-btn">SEND MESSAGE</button>
      </form>
    </div>

  </div>
</section>

<!-- MAP SECTION -->
<section class="map-section">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.6811687880626!2d83.369!3d26.870!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3991a4be71df3a8d%3A0x6ae056bae7ac12a4!2sMedical%20College%20Road%2C%20Gorakhpur!"
    width="100%" height="380" style="border:0;" allowfullscreen="" loading="lazy">
  </iframe>
</section>

<app-footer></app-footer>
